@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.fakeBox {
  background-color: white;
  margin-top: -15px;
  margin-bottom: 20px;
  z-index: 100;
  text-align: center;
  width: 20%;
  margin-left: 40%;
  color: white;
  font-family: Inconsolata;
  font-weight: bold;
  background: black;
  border: 2px solid #FF00FF;
  border-radius: 3px;
  outline: none;
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;

}

.fakeButton {
  color: white;
  border: 1px solid #FF00FF;
  font-family: Inconsolata;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  max-width: 300px;
  min-width: 100px;
  background: none;
  outline: none;
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;
}

.fakeButton:hover  {
  background-color: #36454f;
}

.sourceButtonB:active {
  background-color: #22AFCA;
  color: white;

}
