@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.createAccountSlab {
  text-align: center;
  width: 80%;
  height: 70%;
  top: 15%;
  right: 10%;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 2px;
  background: rgba(0,0,0,.75);
}

.createAccountSlab p {
  color: white;
}

.new_email, .new_surname, .new_password, .new_username, .new_firstName {
  margin-top: 20px;
  color: #22AFCA;
  font-size: 16px;
  font-family: Inconsolata;
  outline: none;
  background: black;
  border: none;
  width: 50%;
  color: #22AFCA;
  margin-bottom: 0px;
}

.newUserSettingsButton {
  margin-top: 12.5%;
  margin-bottom: 12.5%;
  padding: 2% 0%;
  cursor: pointer;
  width: 50%;
  border-radius: 2px;
  background: black;
  font-family: Inconsolata;
  color: white;
  font-weight: bold;
  outline: none;
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;
}

.newUserSettingsButton:hover {
  background: none;
	transition: box-shadow 0.03s ease-in-out;
	box-shadow: 0 0 12px 0px #0c75d7;
	border: 1px solid #22AFCA;
}


.newUserSettingsButton:active {
  background: none;
  transition: box-shadow 0.03s ease-in-out;
  box-shadow: 0 0 12px 0px #0c75d7;
  border: 1px solid #22AFCA;
}
