@import url(https://fonts.googleapis.com/css?family=Inconsolata);


.loginSlab {
  text-align: center;
  border: 2px solid #20C20E;
  width: 30%;
  top: 20%;
  right: 35%;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 2px;
  background: black;
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;
}

.loginSlab p {
  color: white;
}

.username, .password {
  background: black;
  border: none;
  border-bottom: .5px dashed #22AFCA;
  width: 50%;
  color: #22AFCA;
  margin-bottom: 0px;
}

.username, .password {
  margin-top: 20px;
  color: #22AFCA;
  font-size: 16px;
  font-family: Inconsolata;
  outline: none;
}

.logo {
  margin-top: 30px;
  margin-left: 42%;
}

.newAccount {
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  font-family: Inconsolata;
  color: #22AFCA;
  font-size: 12px;
  font-weight: bold;
}

.loginButton {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px 0px;
  cursor: pointer;
  color: purple;
  width: 50%;
  border: 2px solid #22AFCA;
  border-radius: 2px;
  background: black;
  font-family: Inconsolata;
  color: white;
  font-weight: bold;
  outline: none;
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;
}

.loginButton:hover {
  background: none;
	transition: box-shadow 0.03s ease-in-out;
	box-shadow: 0 0 12px 0px #0c75d7;
	border: 1px solid #22AFCA;
}

.loginButton:active {
  background: none;
transition: box-shadow 0.03s ease-in-out;
box-shadow: 0 0 12px 0px #0c75d7;
border: 1px solid #22AFCA;
}

.backToNews {
  margin-top: 20px;
  padding: 5px 0px;
  cursor: pointer;
  color: purple;
  width: 50%;
  border: 2px solid #22AFCA;
  border-radius: 2px;
  background: black;
  font-family: Inconsolata;
  color: white;
  font-weight: bold;
  outline: none;
  margin-left: 25%;
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;

}

.logoutButton {

  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px 0px;
  cursor: pointer;
  color: purple;
  width: 50%;
  border: 2px solid #22AFCA;
  border-radius: 2px;
  background: black;
  font-family: Inconsolata;
  color: white;
  font-weight: bold;
  outline: none;
  margin-left: 25%;
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;
}

.backToNews:hover {
  background-color: #36454f;
  color: #22AFCA;
}

.backToNews:active {
  background-color: #22AFCA;
  color: white;
}

.logoutButton:hover {
  background-color: #36454f;
  color: #22AFCA;
}

.logoutButton:active {
  background: none;
transition: box-shadow 0.03s ease-in-out;
box-shadow: 0 0 12px 0px #0c75d7;
border: 1px solid #22AFCA;
}
