@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.allSources {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sourceList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 50%;
}

.sourcesContainer {
    min-width: 100vw;
}

.selectedSourceList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  width: 49%;
}

.filterAndNext {
  padding-top: 7.5%;
  padding-bottom: 1.5%;
  display: flex;
  justify-content: space-between;
}

.next {
  background: #22AFCA;
  border: 1px solid #22AFCA;
  box-shadow: 0 0 0 0 #22AFCA;
  cursor: pointer;
  color: white;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 45%;
  font-family: Inconsolata;
  background-color: #22AFCA;
  font-size: 100%;
  outline: none;
  margin-right: 2.5%;
}

.next:hover::after {
  left: 120%;
  background: white;
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.next::after {
  background: white none repeat scroll 0 0;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 50px;
  z-index: 10000000000000000000000;
  transition: all 0s ease-in-out 0s;
  box-shadow: 0 0 5px 0 white;
}

.filter {
  padding-left: 5%;
  margin-left: 2.5%;
  font-size: 100%;
  width: 40%;
  background: #000;
  outline: none;
  color: white;
  font-family: Inconsolata;
  border: 1px solid #FFFF;
  transition: width 300ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #FFFF;
}

.sourceButtonA {
  color: #22AFCA;
  font-weight: 500;
  display: block;
  min-width: 97%;
  vertical-align: middle;
  outline: none !important;
  display: block;
  font-family: Inconsolata;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 1%;
  background-color: rgb(0,0,0,.5);
  padding: 4%;
  font-size: 100%;
  display: flex;
  flex-grow: 100;
  justify-content: center;
  text-align: left;
  cursor: pointer;
  border: none;
  max-height: 50px;
  min-height: 50px;
}

.sourceButtonB {
  color: #ff5700;
  font-weight: 500;
  width: 98%;
  vertical-align: middle;
  outline: none !important;
  font-family: Inconsolata;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  background-color: rgb(0,0,0,.5);
  padding: 4%;
  font-size: 100%;
  display: flex;
  flex-grow: 5;
  justify-content: center;
  text-align: left;
  cursor: pointer;
  border: none;
  max-height: 50px;
  min-height: 50px;
}

.sourceButtonA img {
  margin-left: auto;
  margin-right: 0;
}

.sourceButtonB img {
  margin-left: auto;
  margin-right: 0;
}

.next:active {
  background-color: #22AFCA;
  color: white;
}

.sourceButtonA:active {
  background-color: #22AFCA;
  color: white;
}

.sourceButtonB:active {
  background-color: #ff5700;
  color: white;
}

.sourceButtonB:hover  {
  border: 1px solid #ff5700;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #ff5700;
}
.sourceButtonA:hover  {
  border: 1px solid #22AFCA;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #0c75d7;
}
