@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.newsResults {
  margin-top: 3%;
}

.options {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  justify-content: space-between;
}

.fakeNewsFlag, .shareTwitter {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.fakeNewsFlag:hover, .shareTwitter:hover {
  transform: scale(1.2);
}

.newsItem {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;

}

.associatedPic {
  object-fit: cover;
  overflow: hidden;
  background: center repeat;
  border-radius: 3px;
  border: 1px solid #ff5700;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #ff5700;
}

.headline p, .storyBody p {
  margin: 4px;
  color: #D3D3D3;
  font-family: Inconsolata;
}

.source p {
  padding: 0px;
  float: right;
  color: #D3D3D3;
  font-family: Inconsolata;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 4px;
}

.details {
  display: flex;
  flex-direction: column;
  background: black;
  position: relative;
  border-radius: 3px;
  margin: 5px 10px;
  width: 98%;
  justify-content: space-between;
  border: 1px solid #ff5700;
  transition: width 350ms ease-in-out 0s;
  box-shadow: 0 0 19px 1px #ff5700;
}

.headline, .source, .storyBody {
  margin-bottom: 10px;
}

.sourceTag {
  color: #FF00FF,
}

.source {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: .5%;
  color: #D3D3D3;
  font-family: Inconsolata;
}

.publishedAt {
  float: right;
  font-size: 12px;
  font-weight: normal;
}

.headline {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container {
  position: relative;
  border: px solid purple;
  display: inline-block;
  margin: 5px 0px 5px 10px;
}

.container img {
  position: relative;
  float: right;
  width: 170px;
  height: 130px;
}
