.navbar {
  position: fixed;
  bottom: 0;
  background-color: #354948;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

#toggleSettings {
  display: none;
}

.settingsSwitch {
  float: right;
  position:absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  padding: 4% 6% 4% 6%;
}

.newsPaperButton {
  height: 25px;
}

.paper {
  margin-top: -2.5px;
  margin-bottom: -2.5px;
}

.navbar .active, .about {
  float: left;
  text-decoration: none;
  padding: 4% 7.5%;
}

.navbar .active:hover, .about:hover, .settingsSwitch:hover {
  background-color: #DDDDDD;
  color: #22AFCA;
}

.navbar .active:active, .about:active, .settingsSwitch:active {
  background-color: #22AFCA;
  color: white;
}
